body {
    
    background-color: #263755;
}


@font-face {
    font-family: 'adobe caslon pro';
    src: url('ACaslonPro-Regular.woff2') format('woff2'),
        url('ACaslonPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adobe caslon pro';
    src: url('ACaslonPro-BoldItalic.woff2') format('woff2'),
        url('ACaslonPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    
}

.first {
    
    font-size: 80px;
    font-family: "adobe caslon pro", serif;
   /* text-shadow: 6px 15px 17px rgba(0,0,0,0.32); 
    */
}




.button-1 {
    
background-color: black;
color: #263755;
border: none;
padding: 20px 32px;
/*text-align: center;*/
text-decoration: none;
display: inline-block;
font-size: 16px;
font-family: "adobe caslon pro";
font-weight:800;
box-shadow: 6px 15px 17px rgba(0,0,0,0.32);
border-radius: 50%;
position: absolute;
right:5%;
top:95%;


}

.button-1:hover {
transform: scaleY(90%);
transform: translateX(3%);
transform: translateY(3%);
}


.button-2 {
    
background-color: black;
color: #263755;
border: none;
padding: 20px 32px;
/*text-align: center;*/
text-decoration: none;
display: inline-block;
font-size: 16px;
font-family: "adobe caslon pro";
font-weight:800;
box-shadow: 6px 15px 17px rgba(0,0,0,0.32);
border-radius: 50%;
position: absolute;
left:5%;
top:95%;

}

.button-2:hover {
transform: scaleY(90%);
transform: translateX(3%);
transform: translateY(3%);
}


a {
  color: #263755;
  font-family: "adobe caslon pro", serif;
  text-align: center;
  text-decoration: none;
   
}